.content_spec{
    display:none;
}
.cc_tab_menu{
    border-bottom: #e4e4e4 solid 1px;
    position: relative;
    height: 40px;
    margin-bottom: 15px;
}
.cc_tab_menu li{
    float:left;
}
.cc_tab_menu ul{
    list-style: none;
    padding: 0;
    position: absolute;
    bottom: -18px;
}
.cc_tab_menu .cc_tab{
    display: inline-block;
    padding: 8px 10px;
    background: #2a2926;
    color: #fff;
    margin-right: 5px;
    border:#c1c1c1 solid 1px;
    border-bottom: none;
    text-decoration: none;
}
.cc_tab_menu a:hover.cc_tab{
    background: #003f75;
    color:#fff;
    border:#e4e4e4 solid 1px;
    border-bottom: none;
}
.cc_tab_menu a.active.cc_tab{
    background: #fff;
    color:#a3a3a3;
    border:#e4e4e4 solid 1px;
    border-bottom: #fff solid 1px;
    
}
